body {
    background-color: #182A33;
    padding: 2em;
}

.topnav {
    overflow: hidden;
    background-color: #182A33;
}

.topnav a {
    float: left;
    display: block;
    color: #BFBABA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.topnav a:hover {
    background-color: #BFBABA;
    color: #182A33;
}

div {
    color: #182A33;
    text-align: center;
}

.textleft {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

.text-color {
    color: #BFBABA;
    text-align: left;
}
